<main>
    <div
      class="relative pt-16 pb-32 flex content-center items-center justify-center"
      style="min-height: 75vh;"
    >
      <div
        class="absolute top-0 w-full h-full bg-cover"
        style='
        background-image: url(https://images.unsplash.com/photo-1584362917165-526a968579e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1382&q=80);
        background-attachment: fixed;'
      >
      </div>
      <div class="container relative mx-auto">
        <div class="items-center flex flex-wrap">
          <div class="w-full lg:w-6/12 px-4 ml-auto mr-auto text-center">
            <div class="pr-12">
              <h1 class="text-gray-800 font-semibold text-5xl">
                Medicine Made Easy
              </h1>
              <p class="mt-4 text-lg text-gray-800">
                We want you to stay on top of your medication, so we built a one stop page for everything you need to know! With PrescribeMate, scheduling drugs has never been more simple. 
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
        style="height: 70px; transform: translateZ(0px);"
      >
        <svg
          class="absolute bottom-0 overflow-hidden"
          xmlns="http://www.w3.org/2000/svg"
          preserveAspectRatio="none"
          version="1.1"
          viewBox="0 0 2560 100"
          x="0"
          y="0"
        >
          <polygon
            class="text-gray-300 fill-current"
            points="2560 0 2560 100 0 100"
          ></polygon>
        </svg>
      </div>
    </div>
    <section class="pb-20 bg-gray-300 -mt-24">
      <div class="container mx-auto px-4">
        <div class="flex flex-wrap">
          <div class="lg:pt-12 pt-6 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-purple-500"
                >
                  <i class="mdi mdi-pharmacy"></i>
                </div>
                <h6 class="text-xl font-semibold">Find and add new prescriptions</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  You’ll find any prescriptions from your doctor here! You will also be able to find and add any over-the-counter drugs you are taking to your list.
                </p>
              </div>
            </div>
          </div>
          <div class="w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-purple-500"
                >
                  <i class="mdi mdi-pill"></i>
                </div>
                <h6 class="text-xl font-semibold">Your next dose</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  The big number on the next page tells you what your next med is and when to take it. You can’t miss it!
                </p>
              </div>
            </div>
          </div>
          <div class="pt-6 w-full md:w-4/12 px-4 text-center">
            <div
              class="relative flex flex-col min-w-0 break-words bg-white w-full mb-8 shadow-lg rounded-lg"
            >
              <div class="px-4 py-5 flex-auto">
                <div
                  class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 mb-5 shadow-lg rounded-full bg-purple-500"
                >
                  <i class="mdi mdi-alert-circle"></i>
                </div>
                <h6 class="text-xl font-semibold">Find the bad stuff</h6>
                <p class="mt-2 mb-4 text-gray-600">
                  We also list any side effects commonly associated with the drugs you may be using, so keep an eye out for those! 
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex flex-wrap items-center mt-32">
          <div class="w-full md:w-5/12 px-4 mr-auto ml-auto">
            <div
              class="text-gray-600 p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-gray-100"
            >
              <i class="mdi mdi-view-dashboard"></i>
            </div>
            <h3 class="text-3xl mb-2 font-semibold leading-normal">
              A dashboard for your medication
            </h3>
            <p
              class="text-lg font-light leading-relaxed mt-4 mb-4 text-gray-700"
            >
            At PrescribeMate, we understand that it's hard to keep up with the copious amounts of medication given you by doctors. We want to make it easier for you to know what your medicine does! 
            </p>
            <p
              class="text-lg font-light leading-relaxed mt-0 mb-4 text-gray-700"
            >
            PrescribeMate tells you when your next dose is, can reorder prescriptions automatically, and will give you the information you need to have a proper experience with medication.
            </p>
          </div>
          <div class="w-full md:w-4/12 px-4 mr-auto ml-auto">
            <div
              class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-purple-500"
            >
              <img
                alt="..."
                src="https://thumbs.dreamstime.com/b/telephone-medical-consultation-doctor-sitting-his-desk-talking-phone-reviewing-patient-s-records-89025141.jpg"
                class="w-full align-middle rounded-t-lg"
              />
              <blockquote class="relative p-8 mb-4">
                <svg
                  preserveAspectRatio="none"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 583 95"
                  class="absolute left-0 w-full block"
                  style="height: 95px; top: -94px;"
                >
                  <polygon
                    points="-30,95 583,95 583,65"
                    class="text-purple-500 fill-current"
                  ></polygon>
                </svg>
                <h4 class="text-xl font-bold text-white">
                  Talk to your Doc
                </h4>
                <p class="text-md font-light mt-2 text-white">
                  We show you the warning signs you need to be aware of so that you can effectively communicate to your doctor. One day, we hope to be your direct route of communication with your doctor!
                </p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>